   
 <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    @{
                        // Check if the user is authenticated
                        if (!context.User.Identity.IsAuthenticated)
                        {
                            // Redirect to the login page if the user is not authenticated
                                    <RedirectToLogin />
                        }
                        else
                        {
                            // Display custom message if the user is authenticated but not authorized
                                    <p>You have no access to this page.</p>
                        }
                    }
                </NotAuthorized>
                </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
 </CascadingAuthenticationState>